#container

  %header
    = image_tag('logo.png')
    %h1 Merger Tracking Tool

  #info_form_submit
  = form_tag welcome_get_info_path, remote: true, method: :post do
    = label_tag :first_symbol
    = text_field_tag :first_symbol, nil, placeholder: "AAPL"
    = label_tag :second_symbol
    = text_field_tag :second_symbol
    = submit_tag 'Search'

  #main

    #content
      Chart here

    #chartsettings
      #ticker1.stock SYM1
      #price1tog.control.active PRICE 1
      #price2tog.control.active PRICE 2
      #volume1tog.control.active VOL 1
      #volume2tog.control.active VOL 2
      #ticker2.stock SYM2

    #datesettings.clearfix
      .control 3 months
      .control 1 month
      .control.selected 1 week
      .control 1 day

  %aside
    %section
      %h2 Active Mergers
      #info_display
    %section
      %h2 Rumor Mill
      %ul
        %li
          %h3 Article Title
          %p Blurb
        %li
          %h3 Article Title
          %p Blurb
    %section
      %h2 Merger Watchlist
      %ul
        %li
          %h3 Article Title
          %p Blurb
        %li
          %h3 Article Title
          %p Blurb
  %footer
    &copy; Footer Goes Here

  %h1 Welcome Page

  
